.skillImg li{
    width: 50px;
}

.download_button{
    width: 50px;
}

.main_container{
    background-color: #D7D6D8;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.header_container{
    background-color: #504F50;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem 0px;
}

.header_container ul{
    display: none;
}

.header_container button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_section{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_section h1{
    font-family: var(--font-fingerPaint);
    font-size: 2.75rem;
}

.about_section{
    background-color: #B5B4B6;
    width: 80%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.skills_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.skills_section h2{
    font-size: 2rem;
}

.projects_section{
    background-color: #939294;
}

.contacts_section{
    background-color: #504F50;
}